* {
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  color: black;
  line-height: 32px;
}

.container {
  margin: 0 auto;
  width: 800px;
  padding: 20px;
}

.header-class {
  border-bottom: 2px solid black;
  padding-bottom: 3px;
  text-decoration: none;
}

.header-logo a {
  text-align: left;
  font-weight: bold;
  font-size: 0.8rem;
  text-decoration-line: none;
}

.header-nav {
  float: right;
}

.header-nav a {
  text-decoration-line: none;
  margin-left: 16px;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
}

a:link,
a:visited,
a:hover,
a:active {
  color: rgb(68, 65, 65);
}

.article-title {
  font-size: 1.2rem;
  padding-top: 16px;
}

.article-post {
  font-style: italic;
  font-size: 0.8rem;
  color: rgb(112, 107, 107);
}
